In [11]:
import pandas as pd
import seaborn as sns
import tensorflow as tf
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [12]:
# import and clean data set
# 1. Remove unused columns like passenger Id and name
# 2. Covert sex from string to Boolean

train_dataset = pd.read_csv("../titanic/data/train.csv")

train_dataset = train_dataset.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis=1)

train_dataset["Sex"] = train_dataset["Sex"].map({"male": 1, "female": 0})

train_dataset["Embarked"] = train_dataset["Embarked"].map({"S": 0, "C": 1, "Q": 2})

for col in train_dataset:
    train_dataset[col] = train_dataset[col].fillna(train_dataset[col].mode()[0])

train_dataset.tail()

     Survived  Pclass  Sex   Age  SibSp  Parch   Fare  Embarked
886         0       2    1  27.0      0      0  13.00       0.0
887         1       1    0  19.0      0      0  30.00       0.0
888         0       3    0  24.0      1      2  23.45       0.0
889         1       1    1  26.0      0      0  30.00       1.0
890         0       3    1  32.0      0      0   7.75       2.0

In [13]:
# Split dataset into target and variable

X_train, X_test, y_train, y_test = train_test_split(train_dataset.iloc[:, 1:], train_dataset.iloc[:, 0], test_size=0.33, random_state=42)

In [14]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)

In [15]:
# Test out model 
clf.predict(X_test)
clf.score(X_test, y_test)

0.8135593220338984

In [16]:
# Prepare actual testing data

test_dataset = pd.read_csv("../titanic/data/test.csv")

test_dataset = test_dataset.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis=1)

test_dataset["Sex"] = test_dataset["Sex"].map({"male": 1, "female": 0})

test_dataset["Embarked"] = test_dataset["Embarked"].map({"S": 0, "C": 1, "Q": 2})

for col in test_dataset:
    test_dataset[col] = test_dataset[col].fillna(test_dataset[col].mode()[0])

test_dataset.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         2
1       3    0  47.0      1      0   7.0000         0
2       2    1  62.0      0      0   9.6875         2
3       3    1  27.0      0      0   8.6625         0
4       3    0  22.0      1      1  12.2875         0

In [17]:
# Train model on test set
x_actual_train = train_dataset.iloc[:, 1:]
y_actual_train = train_dataset.iloc[:, 0]

actual_model = LogisticRegression(random_state=0).fit(x_actual_train, y_actual_train)

sub_results = actual_model.predict(test_dataset)
print(len(sub_results))

418

/Users/raphael/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [19]:
test_dataset = pd.read_csv("../titanic/data/test.csv")
test_dataset = test_dataset.drop(["Name", "Ticket", "Cabin"], axis=1)
for col in test_dataset:
    test_dataset[col] = test_dataset[col].fillna(test_dataset[col].mode()[0])
print(len(test_dataset))
submission = pd.DataFrame({
        "PassengerId": test_dataset["PassengerId"],
        "Survived": sub_results
    })
submission.to_csv('./submission.csv', index=False)

418